/*-------------------------------- Colores --------------------------------*/
:root {
    --white: #FFFFFF;
    --black: #000000;

    /* --pink :#D32962;
    --purple: #7D5DC9; */

    --green: #42D200;
    --darkGreen: #061601;

    --fs--Title: clamp(1.8rem , 2.8vw,  3rem );
    --fs--SubTitle: clamp(1.4rem, 2.4vw, 2.6rem );
    --fs--Text: clamp(14px , 1.4vw,  34px);
    --fs--TextNav: clamp(14px , 1.2vw,  30px);
    --fs--TextDateCv: clamp(12px , 1vw,  20px);
}

@font-face {
    font-family:'Arupala';
    src:url(./arupala.ttf);
    font-display:swap;
}

@font-face {
    font-family:'NetSwiss';
    src:url(./netSwiss.ttf);
    font-display:swap;
}

body {
    background-color: var(--white);
    /* text-align:center; */
    /* align-items: center; */
    /* justify-content: center; */
    margin: 0;
}

p:hover{
    cursor: default;
}

span:hover{
    cursor: default;
}

body,
html {
    height: 100%;
    width: 100%;
    padding: 0;
}


/*-------------------------------- Scroll Bar --------------------------------*/
/* Works on Firefox */
* {
    scrollbar-width:thin;
    scrollbar-color: var(--black) var(--white);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--white);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--black);
    border-radius: 0px;
    border: 0px solid var(--white);
}


/*-------------------------------- Header --------------------------------*/
.header{
    top: 1%;
    position: fixed;
    display: flex;
    width: 100vw;
    /* height: 50px; */
    text-align: center;
    /* background-color: var(--white); */
    z-index: 100;
    transition: all 0.3s ease-in-out;
}

#logoHeader{
    /* position: relative; */
    margin-left: 5%;
    width: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: all 0.5s ease-in-out;
}

.nav{
    /* display: flex; */
    margin-left: auto;
    margin-right: 5%;
    /* justify-content: space-evenly; */
    margin-top: auto;
    margin-bottom: auto;
}

.menu{
    display: flex;
    margin-left: auto;
    /* margin-right: 5%; */
    justify-content: space-evenly;
    /* width: 40vw; */
    /* background-color: red; */
}

.navEle{
    font-family: "Arupala";
    font-size: var(--fs--TextNav);
    font-weight: 900;
    margin-left: 30px;
    color: var(--white);
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    transition: 0.3s ease-in-out;

}

.navEle:hover{
    color: var(--green);
    cursor: pointer;
    /* scale: .98; */
    /* font-weight: 800; */
    transition: 0.3s ease-in-out;
}

.pNav:hover{
    cursor: pointer;
}

.smaller{
    top: 0%;
    background-color: rgba(0, 0, 0, 0.95);
    transition: all 0.3s ease-in-out;
}

.smallerIco{
    width: 3.5% !important;
    transition: all 0.5s ease-in-out;
}

#ham{
    display: none;
}

#xham{
    display: none;
}

#logoHeaderMovil{
    display: none;
}


/*---------------------------------------- Pantalla de carga ----------------------------------------*/
#hiddenBody{
    overflow:hidden;
}

#loaderP{
    z-index: 110;
    position: absolute;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    top: 0;
}

#loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    color: var(--green);
    margin-top: auto;
    margin-bottom: auto;
}

#loader:before,
#loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

#loader:after {
    color: var(--darkGreen);
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
}
100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
}
}

@keyframes rotateccw {
0% {
    transform: translate(-50%, -50%) rotate(0deg);
}
100% {
    transform: translate(-50%, -50%) rotate(-360deg);
}
}

@keyframes spin {
0%,
100% {
    box-shadow: .5em 0px 0 0px currentcolor;
}
12% {
    box-shadow: .5em .5em 0 0 currentcolor;
}
25% {
    box-shadow: 0 .5em 0 0px currentcolor;
}
37% {
    box-shadow: -.5em .5em 0 0 currentcolor;
}
50% {
    box-shadow: -.5em 0 0 0 currentcolor;
}
62% {
    box-shadow: -.5em -.5em 0 0 currentcolor;
}
75% {
    box-shadow: 0px -.5em 0 0 currentcolor;
}
87% {
    box-shadow: .5em -.5em 0 0 currentcolor;
}
}


/*-------------------------------- Home --------------------------------*/
.home{
    width: 100%;
    height: 100vh;
    background-image: url(./imgHomeDes.webp);
    background-size: cover;
    background-position: top, center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    z-index: 99;
}

#imgLogoHome{
    z-index: 2;
    margin-top: auto;
    padding-top: 100px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    height: auto;
    filter: drop-shadow(0 0 0.75rem #00000063);
}

.text-pop-up-top {
	-webkit-animation: text-pop-up-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: text-pop-up-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-play-state: paused;
}


@-webkit-keyframes text-pop-up-top {
0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
    opacity: 0;
}
100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    opacity: 1;
}
}
@keyframes text-pop-up-top {
0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: none;
    opacity: 0;
}
100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    opacity: 1;
}
}



/*-------------------------------- Onda --------------------------------*/
#mainSVG {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /* visibility: hidden; */
    /* scale: 1.4; */
}

.ell {
    fill: none;
}


/*-------------------------------- biografia --------------------------------*/
.biografia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-grow: 2; */
    /* background: linear-gradient(140deg, #ededed 0%, rgb(173, 173, 173) 100%); */
}

.imagenBio {
    width: 40%;
    flex: 1;
    height: 95svh;
    background-image: url(./bioImgNuevo.webp);
    background-size: cover;
    background-position: 50% 15%;
    margin-left: 5%;

    border-radius: 6px;
    box-shadow:  5px 5px 10px #969696, -5px -5px 10px #ffffff;

}

.info{
    text-align: center;
    flex: 1;
    /* padding-left: 100px; */
    margin-right: 5%;
    max-height: 95svh;
    margin-top: auto;
    margin-bottom: auto;
}

.titleBio{
    font-size: var(--fs--Title);
    color: var(--black);
    font-family: "Arupala";
    /* margin-top: 100px; */
    font-weight:900;
    margin-top: 20%;
    margin-left: 5%;
}

.textbioTituloSection{
    font-size: var(--fs--Text);
    text-align: left;
    margin-left: 5%;
    width: 56%;
    font-family: "NetSwiss";
}


/*---------------------------------------- contadores ----------------------------------------*/
.numbers{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contador{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
}

.contadorTitles{
    font-size: var(--fs--Title);
    font-family: Arupala;
    font-weight: 600;
    margin-top: 0px;
}

.containerContador{
    font-size: var(--fs--Title);
    color: var(--darkGreen);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.numEs{
    font-family: Arupala;
    font-size: calc(var(--fs--Title) + 25px);
    color: var(--green);
    font-weight: 900;
    position: relative;
    margin-top: 0px;
    margin-bottom: 5%;
}




.textbio{
    font-size: var(--fs--Text);
    text-align: left;
    padding-left: 10%;
    font-family: "NetSwiss";
    /* font-weight: 500; */
}

.enlacesBio{
    text-decoration:underline;
    font-style: italic;
    color: var(--black);
    transition: 0.3s ease-in-out;

}

.enlacesBio:hover{
    color: var(--green);
    cursor: pointer;
    scale: .98;
    /* font-weight: 600; */
    transition: 0.3s ease-in-out;
}

/*-------------------------------- cv --------------------------------*/
.cvTitle{
    font-size: var(--fs--Title);
    font-family: "Arupala";
    font-weight:900;
    margin-top: 20%;
    text-align: left;
    margin-left: 5%;
}

.cvTitlePaginaIndividual{
    font-size: var(--fs--Title);
    font-family: "Arupala";
    text-align: center;
    font-weight:900;
    margin-top: 8%;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cd-container {
    width: 70%;
    max-width: auto;
    margin: 0 auto;
}

.cd-container::after {
    content: "";
    display: table;
    clear: both;
}

.textCv{
    width: 50%;
    margin-left: 5%;
    font-size: var(--fs--Text);
    font-family: "NetSwiss";
    margin-top: 0%;
    margin-bottom: 0%;
}

.btnCvIrAPaginaInd{
    margin-left: 5%;
    padding: 10px 24px;
    text-align: center;
    background-color: var(--white);
    color: var(--black);
    border:  solid 3px #000000;
    border-radius: 6px;
    font-size: var(--fs--Text);
    font-family: Arupala;
    font-weight: 900;
    transition: 0.4s ease-in-out !important;
    margin-top: 4%;
}

.btnCvIrAPaginaInd:hover{
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    scale: 1.05;
    transition: 0.4s ease-in-out;
}

.btnCvIrAPaginaInd span:hover{
    cursor: pointer;
    transition: 0.4s ease-in-out;
}


.containerBtnCvPaginaInd{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-bottom: 8%;
    transition: 0.3s ease-in-out;
}

.btnCvPaginaInd{
    padding: 0.8em 1.3em 0.8em 0.9em;
    text-align: center;
    background-color: var(--white);
    color: var(--black);
    border:  solid 3px #000000;
    border-radius: 6px;
    font-size: var(--fs--Text);
    font-family: Arupala;
    font-weight: 900;
    transition: 0.4s ease-in-out !important;
}

.btnCvPaginaInd:hover{
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    scale: 1.05;
    transition: 0.4s ease-in-out;
}

.btnCvPaginaInd span:hover{
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

/* -------------------------------- Main components -------------------------------- */
.cd-timeline-content p {
    font-size: var(--fs--Text);
    font-family: "NetSwiss";
    text-align: center;
    font-weight: 600;
}

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: var(--fs--TextDateCv);
    font-family: "Arupala";
}

#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

#cd-timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 7px;
    /* background: var(--purple); */
    /* background: linear-gradient(180deg, #7D5DC9 0%, #D32962 100%);  */
    background: linear-gradient(to bottom, #06160100 0%, #061601 3%, #42D200 97%, #43d20000 100%);
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

.cd-timeline-block::after {
    clear: both;
    content: "";
    display: table;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

.cd-timeline-img {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 25px;
    height: 25px;
    border-radius: 6px;
    /* box-shadow: 0 0 0 4px var(--purple), inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05); */
}

.cd-timeline-img{
    background: var(--darkGreen);
}

.ffa{
    background: #0B2601;
}
.tr{
    background: #0E2F01;
}
.li{
    background: #0E2F01;
}
.do{
    background: #144201;
}
.bu{
    background: #174B01;
}
.re{
    background: #1A5501;
}
.ic{
    background: #1D5E01;
}
.au{
    background: #206801;
}
.fi{
    background: #237101;
}
.ma{
    background: #267A00;
}
.me{
    background: #298300;
}
.ba{
    background: #2C8D00;
}
.na{
    background: #2F9700;
}
.la{
    background: #32A000;
}
.di{
    background: #35A900;
}
.pa{
    background: #38B300;
}
.he{
    background: #3BBC00;
}
.gl{
    background: #3EC500;
}
.mag{
    background: var(--green);
}


@-webkit-keyframes cd-bounce-1 {
0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
}
60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
}
100% {
    -webkit-transform: scale(1);
}
}
@-moz-keyframes cd-bounce-1 {
0% {
    opacity: 0;
    -moz-transform: scale(0.5);
}
60% {
    opacity: 1;
    -moz-transform: scale(1.2);
}
100% {
    -moz-transform: scale(1);
}
}
@keyframes cd-bounce-1 {
0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}
60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    /* background: rgb(238, 238, 238); */
    /* background: linear-gradient(140deg, #ededed 0%, #e0dfdf 100%); */
    padding: 0.1em;

    border-radius: 6px;
    /* background: linear-gradient(225deg, #cacaca, #f0f0f0); */
    /* box-shadow:  -8px 8px 16px #b1b1b1, 8px -8px 16px #ffffff; */
    background: #cacaca;
}

.cd-timeline-content::after {
    clear: both;
    content: "";
    display: table;
}

.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block;
}

.cd-timeline-content p {
    margin: 1em 0;
}

.cd-timeline-content .cd-date {
    float: left;
    padding: 0.8em 0;
}

.cd-timeline-content::before {
    content: "";
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-right: 10px solid #cacaca;
}

@-webkit-keyframes cd-bounce-2 {
0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
}
60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
}
100% {
    -webkit-transform: translateX(0);
}
}
@-moz-keyframes cd-bounce-2 {
0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
}
60% {
    opacity: 1;
    -moz-transform: translateX(20px);
}
100% {
    -moz-transform: translateX(0);
}
}
@keyframes cd-bounce-2 {
0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
}
60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
}
100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
}
@-webkit-keyframes cd-bounce-2-inverse {
0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
}
60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
}
100% {
    -webkit-transform: translateX(0);
}
}
@-moz-keyframes cd-bounce-2-inverse {
0% {
    opacity: 0;
    -moz-transform: translateX(100px);
}
60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
}
100% {
    -moz-transform: translateX(0);
}
}
@keyframes cd-bounce-2-inverse {
0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
}
60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
}
100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
}

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }

    /********/
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 80px;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 70px;
    }

    /********/
    .cd-timeline-img {
        width: 40px;
        height: 40px;
        left: 50%;
        margin-left: -19px;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }

    /********/
    .cd-timeline-content {
        margin-left: 0;
        /* padding: 1.6em; */
        width: 45%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #cacaca;
    }


    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 16px;
        font-size: 1rem;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 22px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #cacaca;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 1s;
        -moz-animation: cd-bounce-2 1s;
        animation: cd-bounce-2 1s;
    }
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 1s;
        -moz-animation: cd-bounce-2-inverse 1s;
        animation: cd-bounce-2-inverse 1s;
    }
}


/* -------------------------------- EEC -------------------------------- */
.eec{
    margin-top: 20%;
    /* background-color: var(--black); */
    background-image: url(./backgroundEec.webp);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
}

.videoEec{
    width: 48vw;
    height: 68vh;
    margin-left: 5%;
    flex: 1;
}


.imgBtnContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
}

.btnEec {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-size: var(--fs--Text);
    padding: 8px 24px;
    color: var(--white);
    background-color: transparent;
    border: 3px solid var(--white);
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: auto;
    font-family: Arupala;
    font-weight: 900;
    transition: 0.4s ease-in-out !important;
}

.btnEec svg {
    margin-top: 7px;
    margin-right: 12px;
    transform: rotate(-45deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.btnEec span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
    cursor: pointer;
}

.btnEec:hover svg {
    transform: translateX(5px) rotate(43deg);
}

.btnEec:hover{
    background: var(--white);
    scale: 1.1;
    transition: 0.4s ease-in-out;
    color: var(--black);
}

.btnEec:hover span {
    transform: translateX(7px);
}

.imgEec{
    width: 42%;
    margin-top: 0px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}



/* -------------------------------- Magneticoh Studio -------------------------------- */
.magContainer {
    position: relative;
    width: 90vw;
    margin: 0 auto;
    /* min-height: 95vh; */
    column-gap: 3rem;
    /* margin-top: 100px; */
    padding-block: min(20vh, 3rem);
    margin-top: 14%;
    margin-bottom: 5%;
}

.infoCotainer{
    max-width: 50%;
}

.magSpan{
    /* font-family: "Arupala"; */
    font-family: "NetSwiss";
    /* letter-spacing: 1.5px; */
    font-size: var(--fs--Text);
    color: #717171;
    margin-bottom: 20px;
}

.magTitle{
    font-family: "Arupala";
    font-weight: 900;
    font-size: var(--fs--Title);
    color: var(--black);
    margin-top: 0px;
    margin-bottom: 20px;
    /* text-transform: capitalize; */
    /* letter-spacing: 0.8px; */
    /* font-weight: 500; */
    /* background-color: #005baa;
    background-image: linear-gradient(45deg, #005baa, #000000); */
    /* background-size: 100%; */
    /* background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent; */
}

.magDes{
    font-family: "NetSwiss";
    font-size: var(--fs--Text);
    color: var(--black);
    margin-bottom: 10%;
}

.magContainer > div hr {
    display: block;
    background: linear-gradient(90deg, rgba(248,225,50,1) 0%, rgba(221,77,54,1) 50%, rgba(74,36,138,1) 100%);
    height: 0.30rem;
    width: 10.25rem;
    border: none;
    margin: 0.125rem 0 0.875rem 0;
}

/* .magContainer > div p {
    line-height: 1.6;
} */

/* main a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #717171;
    font-weight: 500;
    background: #fff;
    border-radius: 3.125rem;
    transition: 0.3s ease-in-out;
}

main > div > a {
    border: 2px solid #c2c2c2;
    margin-top: 2.188rem;
    padding: 0.625rem 1.875rem;
}

main > div > a:hover {
    border: 0.125rem solid #005baa;
    color: #005baa;
} */

.swiper {
    width: 100%;
    /* padding-top: .125rem; */
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    background: var(--white);
}

.swiper-pagination {
    bottom: 1.25rem !important;
}

.swiper-slide {
    width: 40rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: self-start;
    border-radius: 6px;
}

.swiper-slide h2 {
    color: var(--white);
    font-family: "Arupala";
    font-weight: 600;
    /* font-weight: 400; */
    font-size: var(--fs--Text);
    /* line-height: 1.4; */
    margin-bottom: 1.625rem;
    padding: 0 0 0 1.563rem;
    text-transform: uppercase;
}

.swiper-slide p {
    color: var(--white);
    font-family: "NetSwiss";
    /* font-weight: 300; */
    padding: 0 1.563rem;
    /* line-height: 1.6; */
    font-size: var(--fs--TextNav);
    /* display: -webkit-box; */
    -webkit-line-clamp: 4;
    line-clamp: 4;
    margin-bottom: 2.625rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.swiper-slide a {
    margin: 1.25rem 1.563rem 3.438rem 1.563rem;
    padding: 0.438em 1.875rem;
    font-size: 0.9rem;
}

/* .swiper-slide a:hover {
    color: #005baa;
} */

.swiper-slide div {
    display: none;
    opacity: 0;
    padding-bottom: 0.625rem;
}

.swiper-slide-active div {
    display: block;
    opacity: 1;
}

.swiper-slide--one {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("./atmosferaImg.webp") no-repeat 50% 50%/cover;
}

.swiper-slide--two {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("./barraNegraImg.webp") no-repeat 50% 50%/cover;
}

.swiper-slide--three {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("./gazproImg.webp") no-repeat 50% 50%/cover;
}

.swiper-slide--four {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("./haciendaNohchakanImg.webp") no-repeat 50% 50%/cover;
}

.swiper-slide--five {
    background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url("./yellowBirdImg.webp") no-repeat 50% 50%/cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background-image: none;
}

@media screen and (min-width: 48rem) {
.magContainer {
    display: flex;
    align-items: center;
}

.bg,
.bg2 {
    opacity: 0.1;
}
}
@media screen and (min-width: 93.75rem) {
.swiper {
    width: 85%;
}
}


.recuadroColores{
    width: 100%;
    height: 3vh;
    background: linear-gradient(90deg, rgba(248,225,50,1) 0%, rgba(221,77,54,1) 50%, rgba(74,36,138,1) 100%);
}

.colorChange {
	-webkit-animation: colorChange 6s linear infinite alternate both;
	animation: colorChange 6s linear infinite alternate both;
}

@-webkit-keyframes colorChange {
    0% {
        background: rgba(248,225,50,1);
    }
    50% {
        background: rgba(221,77,54,1);
    }
    100% {
        background: rgba(74,36,138,1);
    }
}

@keyframes colorChange {
    0% {
        background: rgba(248,225,50,1);
    }
    50% {
        background: rgba(221,77,54,1);
    }
    100% {
        background: rgba(74,36,138,1);
    }
}

.botonMagneticoh {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;

    text-decoration: none;
    font-family: Arupala;
    color: var(--black);
    font-size: var(--fs--Text);

    border: 3px solid var(--black);
    border-radius: 6px;
    background-color: transparent;
    font-weight: 900;
    transition: 0.4s ease-in-out;
    overflow: hidden;

    margin-left: 1%;
    }

    .botonMagneticoh:hover {
        background-color: var(--black);
        color: var(--white);
        scale: 1.1;
        transition: 0.4s ease-in-out;
        /* box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4); */
    }



/* -------------------------------- Contacto -------------------------------- */
.contacto{
    margin-top: 0px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./imgContacto.webp");
    background-size:cover;
    background-position: 50% 0%;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
}


.contactoTitle{
    margin-top: 0px;
    font-size: var(--fs--Title);
    font-family: "Arupala";
    font-weight: 900;
    color: var(--white);
    margin-left: auto;
    margin-right: auto;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}

/*---------------- formulario ----------------*/
.TitulosFor{
    color: var(--white);
    font-family: "NetSwiss";
    /* font-weight: 600; */
    font-size: var(--fs--Text);
}

.form-control{
    display: block;
    width: 100%;
    /* margin-left: 5%; */
    margin-right: auto;
    margin-bottom: 0px;
    font-size: var(--fs--TextNav);
    font-family: "NetSwiss";
    padding: 6px 12px;
    background-color: var(--white);
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-top: 1%;
}

.btn-block{
    display: block;
    min-width: 15%;
    /* margin-left: 5%; */
    margin-right: auto;
}

.btn-primary{
    color: var(--white);
    background-color: transparent;
    transition: 0.4s ease-in-out;
    border: 3px solid var(--white) !important;
}

.btn-primary:hover{
    background-color: var(--white);
    color: var(--black);
    scale: 1.1;
    transition: 0.4s ease-in-out;
}

.btn-lg{
    /* font-family: "NetSwiss"; */
    font-family: "Arupala";
    font-weight: 900;
    padding: 8px 14px;
    font-size: var(--fs--TextNav);
    border-radius: 6px;
}

.btn{
    touch-action: manipulation;
    cursor:pointer;
    border: 1px solid transparent;
    text-decoration:none;
    text-decoration-color: var(--black);
    margin-top: 3%;
}

.error{
    background-color: white;
}

.alert-danger{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--fs--TextNav);
    font-family: "NetSwiss";
    background-color: #d20000;
    color: var(--white);
}

.alert{
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
}


/*---------------------------------------- Respuesta Contacto ----------------------------------------*/
.containerRespuesta{
    width: 100%;
    height: auto;
    background-image: url(./imgHomeDes.webp);
    background-size: cover;
    background-position: top, center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin-top: 10svh;
}

.well {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    font-size: var(--fs--Text);
    text-align: center;
    color: var(--white);
    font-family: "Arupala";
    background-color: var(--green);
    border-radius: 6px;
}

.aRegresar{
    text-decoration: none;
}

.btnRegresar{
    margin-left: 5%;
}


/*---------------------------------------- Footer ----------------------------------------*/
footer{
    background-color: var(--black);
    width: 100%;
    height: auto;
}

.containerFooter{
    display: flex;
}

.logoFooter{
    margin-left: 5%;
    width: 36%;
    margin-top: auto;
    margin-bottom: auto;
}

.containerEnlaces{
    margin-left: auto;
    margin-right: 5%;
    margin-top: 70px;
    margin-bottom: 60px;
}

.enlacesTitle{
    color: var(--white);
    font-size: calc(var(--fs--Text) + 5px);
    font-family: "Arupala";
    font-weight: 900;
}


.eleF{
    color: var(--white);
    text-decoration: none;
    font-size: var(--fs--Text);
    font-family: "NetSwiss";
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.copyP{
    font-family: "Arupala";
    font-weight: 900;
}

.textsFooters:hover{
    cursor: pointer;
}

.linkFooter:hover{
    color: var(--green);
    transition: 0.3s ease-in-out;
}

.textsFooters{
    margin-top: 0px;
    margin-bottom: 0px;
}

.iconsFooter{
    width: calc(var(--fs--Text) + 8px);
    margin-bottom: auto;
    margin-top: auto;
}

.derechosRe{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}



/*---------------------------------------- Responsive ----------------------------------------*/
@media screen and (max-width: 1170px){
    .cd-timeline-content .cd-date{
        width: 100%;
        text-align: center;
    }

    /*-------------------------------- cv --------------------------------*/
    .textCv{
        width: 80%;
    }
}

@media screen and (max-width: 900px){
    /*-------------------------------- Header --------------------------------*/
    #logoHeader{
        width: 6.1%;
    }

    .smallerIco{
        width: 5.2% !important;
    }

    /*-------------------------------- Home --------------------------------*/
    #imgLogoHome{
        width: 48%;
    }

    /*-------------------------------- Onda --------------------------------*/
    /* #mainSVG{
        width: 150%;
        margin-left: -25%;
    } */


    /*-------------------------------- cv --------------------------------*/
    .btnCvPaginaInd{
        width: 50%;
    }

    /*-------------------------------- biografia --------------------------------*/
    .imagenBio {
        width: 34%;
        height: 80svh;
    }

    .textbioTituloSection{
        width: 80%;
    }

    /*---------------------------------------- contadores ----------------------------------------*/
    .containerContador {
        margin-left: 5px;
    }

    .contador{
        flex-wrap: wrap;
    }

    .numEs{
        font-size: calc(var(--fs--Title) + 20px);
    }


    /* -------------------------------- EEC -------------------------------- */
    .eec{
        padding-top: 12%;
        padding-bottom: 12%;
        flex-direction: column;
    }

    .videoEec{
        margin-left: 0;
        width: 100vw;
        min-height: 60vh;
    }

    .btnEec {
        width: 50%;
        justify-content: center;
    }

    .imgEec{
        width: 50%;
    }

}

@media screen and (max-width: 768px) {
    .infoCotainer{
        max-width: 100%;
    }

    .botonMagneticoh{
        margin-bottom: 12%;
    }

}


@media screen and (max-width: 765px){
        /*-------------------------------- Header --------------------------------*/
        .header{
            top: 0%;
        }

        #logoHeader{
            display: none;
        }

        .menu-btn {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30px;
            width: 37px;
            padding-top: 43px;
            z-index:50;
            /* margin-left: 10%; */
            margin-right: auto;
            position: absolute;
            left: 10%;
        }

        .menuHamScale{
            scale: 1.2;
        }

        #ham{
            display: inline;
            margin-top: 0px;
            z-index: 50;
            transition: transform 0.3s ease-in-out;
            fill: var(--white);
            transition: all 0.3s ease-in-out;
            filter: drop-shadow(0 0 0.75rem #ffffff);
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .smallerHam{
            fill: var(--darkGreen) !important;
            transition: all 0.3s ease-in-out;
        }

        #ham.activeHam{
            display: none;
        }

        #xham{
            display: none;
            /* scale: 1; */
            fill: var(--white);
            width: 100%;
            height: 100%;
            position: absolute;
        }

        #xham.activeXHam{
            display: inline;
            z-index: 100;
        }

        .menu {
            flex-direction: column;
            background-color: var(--darkGreen);
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            transform-origin: top;
            transition: transform 0.3s ease-in-out;
            margin-left: 0px;
            justify-content: center;
            transform: scaleY(0);
        }

        .navEle{
            margin-left: 0% !important;
            margin-top: 0px;
            margin-bottom: 0px;
            text-align: center;
            font-size: var(--fs--SubTitle);
        }

        .pNav{
            /* margin-top: 10px; */
            margin-bottom: 0px;
        }

        #logoHeaderMovil{
            display: block;
            width: 15%;
            margin-left: auto;
            margin-right: auto;
        }

        .menu.active {
            transform: scaleY(1);
        }

        .menu.disactive {
            transform: scaleY(0);
        }

}


@media screen and (max-width: 724px){

    /*-------------------------------- Home --------------------------------*/
    #imgLogoHome{
        padding-top: 0px;
        width: 80%;
    }


    /*-------------------------------- Onda --------------------------------*/
    /* #mainSVG{
        width: 200%;
        margin-left: -50%;
    } */


    /*-------------------------------- biografia --------------------------------*/
    .biografia{
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .imagenBio {
        width: 90vw;
        min-height: 80svh;
        margin-left: auto;
        margin-right: auto;
    }

    .info{
        text-align: left;
        margin-top: 5%;
        width: 95%;
    }

    .textbio{
        padding-left: 5%;
    }

    .textbioTituloSection{
        width: 90%;
    }


    /*-------------------------------- cv --------------------------------*/
    .cvTitlePaginaIndividual{
        margin-top: 28vw;
    }

    .containerBtnCvPaginaInd{
        justify-content: left;
        margin-left: 5%;
    }

    .textCv{
        width: 90%;
        margin-top: 8%;
    }

    .btnCvIrAPaginaInd{
        margin-top: 12%;
        width: 90%;
    }

    .btnCvIrAPaginaInd:hover{
        scale: 1;
    }

    /*---------------------------------------- contadores ----------------------------------------*/
    /* .numbers{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    } */

    .contador{
        flex-direction: column;
        margin-left: 0%;
        margin-right: 0%;
        flex-wrap: nowrap;
    }

    .contadorTitles{
        font-size: var(--fs--Title);
        font-family: Arupala;
        margin-top: 0px;
        margin-bottom: 8%;
    }

    .containerContador{
        font-size: var(--fs--Title);
        color: var(--darkGreen);
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-left: 0px;

    }

    .numEs{
        font-family: Arupala;
        font-size: calc(var(--fs--Title) + 18px);
        color: var(--green);
        font-weight: bold;
        position: relative;
        margin-top: 0px;
        margin-bottom: 0%;
    }


    /* -------------------------------- EEC -------------------------------- */
    .eec{
        background-image: url(./backgroundEecMovil.webp);
        background-attachment: scroll;
    }

    .videoEec{
        min-height: 64vh;
    }

    .btnEec {
        width: 88%;
        justify-content: center;
        margin-left: 5%;
    }

    .imgEec{
        width: 60%;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .btnEec:hover{
        scale: 1;
    }


    /* -------------------------------- Magneticoh Studio -------------------------------- */
    .botonMagneticoh {
        width: 98%;
    }

    .botonMagneticoh:hover {
        scale: 1;
    }


    /* -------------------------------- Contacto -------------------------------- */
    .contacto{
        padding-top: 15%;
        padding-bottom: 15%;
    }
    .btn-block {
        margin-top: 5%;
        min-width: 100%;
    }

    .btnRegresar{
        min-width: 90% !important;
    }

    .btn-primary:hover{
        scale: 1;
    }


    /*---------------------------------------- Footer ----------------------------------------*/
    .containerFooter{
        flex-direction: column-reverse;
    }

    .logoFooter{
        margin-left: 5%;
        margin-right: auto;
        width: 48%;
        margin-top: 4%;
        margin-bottom: 8%;
    }

    .containerEnlaces{
        margin-left: 5%;
        margin-right: auto;
        margin-top: 8%;
        margin-bottom: 0px;
    }

    .enlacesTitle{
        font-size: calc(var(--fs--Text) + 10px);
    }

    .textsFooters{
        margin-top: 8px;
    }

    .iconsFooter{
        width: calc(var(--fs--Text) + 20px);
    }

    .derechosRe{
        display: flex;
        justify-content: left;
        margin-left: 5%;
        padding-bottom: 8%;
    }

    .pFooterMargin{
        margin-top: 21px;
        margin-left: 10px;
        margin-right: 5%;
    }
}